### Reading the data

In [1]:
import pandas as pd
import warnings
warnings.simplefilter("ignore")

existing_customers = pd.read_excel(r'./data/existing_customers.xlsx', engine="openpyxl")
potential_customers = pd.read_excel(r'./data/potential_customers.xlsx', engine="openpyxl")

### Analysing the data

In [2]:
existing_customers.head()

,RowID,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,Row0,39.0,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,Row1,50.0,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,Row2,38.0,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,Row3,53.0,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,Row4,28.0,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [7]:
potential_customers.head()

,RowID,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,Row0,25.0,Private,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States
1,Row1,38.0,Private,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States
2,Row2,28.0,Local-gov,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States
3,Row3,44.0,Private,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States
4,Row4,18.0,NaN,Some-college,10.0,Never-married,NaN,Own-child,White,Female,0.0,0.0,30.0,United-States

In [3]:
existing_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RowID           32561 non-null  object
 1   age             32561 non-null  float64
 2   workclass       30725 non-null  object
 3   education       32561 non-null  object
 4   education-num   32561 non-null  float64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  float64
 11  capital-loss    32561 non-null  float64
 12  hours-per-week  32561 non-null  float64
 13  native-country  31978 non-null  object
 14  class           32561 non-null  object
dtypes: float64(5), object(10)
memory usage: 3.7+ MB

In [8]:
potential_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RowID           16281 non-null  object
 1   age             16281 non-null  float64
 2   workclass       15318 non-null  object
 3   education       16281 non-null  object
 4   education-num   16281 non-null  float64
 5   marital-status  16281 non-null  object
 6   occupation      15315 non-null  object
 7   relationship    16281 non-null  object
 8   race            16281 non-null  object
 9   sex             16281 non-null  object
 10  capital-gain    16281 non-null  float64
 11  capital-loss    16281 non-null  float64
 12  hours-per-week  16281 non-null  float64
 13  native-country  16007 non-null  object
dtypes: float64(5), object(9)
memory usage: 1.7+ MB

In [9]:
numerical_cols = {'age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week'}
categorical_cols = {'workclass', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country'}
ordinal_cols = {'education'}

print("EXISTING CUSTOMERS\n")
for col in categorical_cols | ordinal_cols | {'class'}:
    counts = existing_customers[col].value_counts()
    print(f"Column {col} ({len(counts)} categories):")
    print(counts)
    print()
    
print("\n\nPOTENTIAL CUSTOMERS")
for col in categorical_cols | ordinal_cols:
    counts = existing_customers[col].value_counts()
    print(f"Column {col} ({len(counts)} categories):")
    print(counts)
    print()

EXISTING CUSTOMERS

Column sex (2 categories):
Male      21790
Female    10771
Name: sex, dtype: int64

Column occupation (14 categories):
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

Column class (2 categories):
<=50K    24720
>50K      7841
Name: class, dtype: int64

Column native-country (41 categories):
United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

Column relationship (6 categories):
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64

Column race (5 categories):
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

Column marital-status (7 categories):
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

Column workclass (8 categories):
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

Column education (16 categories):
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64



POTENTIAL CUSTOMERS
Column sex (2 categories):
Male      21790
Female    10771
Name: sex, dtype: int64

Column race (5 categories):
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

Column occupation (14 categories):
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

Column marital-status (7 categories):
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

Column workclass (8 categories):
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

Column native-country (41 categories):
United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

Column relationship (6 categories):
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64

Column education (16 categories):
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [5]:
existing_customers.groupby('education')['education-num'].unique().sort_values()

education
Preschool        [1.0]
1st-4th          [2.0]
5th-6th          [3.0]
7th-8th          [4.0]
9th              [5.0]
10th             [6.0]
11th             [7.0]
12th             [8.0]
HS-grad          [9.0]
Some-college    [10.0]
Assoc-voc       [11.0]
Assoc-acdm      [12.0]
Bachelors       [13.0]
Masters         [14.0]
Prof-school     [15.0]
Doctorate       [16.0]
Name: education-num, dtype: object

### Preprocessing

In [12]:
from sklearn.impute import SimpleImputer

def impute(df, strategy='most_frequent'):
    imputer = SimpleImputer(strategy=strategy)
    return pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

# Fit and transform the imputer on your data
imputed_existing_customers = impute(existing_customers)
imputed_potential_customers = impute(potential_customers)

imputed_existing_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RowID           32561 non-null  object
 1   age             32561 non-null  object
 2   workclass       32561 non-null  object
 3   education       32561 non-null  object
 4   education-num   32561 non-null  object
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  object
 11  capital-loss    32561 non-null  object
 12  hours-per-week  32561 non-null  object
 13  native-country  32561 non-null  object
 14  class           32561 non-null  object
dtypes: object(15)
memory usage: 3.7+ MB

In [13]:
def one_hot_encode(df, columns):
    for col in columns:
        if col in df:
            encoding = pd.get_dummies(df[col], drop_first=True)
            df = pd.concat([df.drop(col, axis=1), encoding], axis=1)
    return df
            
ohe_existing_customers = one_hot_encode(imputed_existing_customers, categorical_cols | {'class'}).drop(['RowID', 'education'], axis=1)
ohe_potential_customers = one_hot_encode(imputed_potential_customers, categorical_cols).drop(['RowID', 'education'], axis=1)

for col in set(ohe_existing_customers.columns) - set(ohe_potential_customers.columns) - {'>50K'}:
    ohe_potential_customers[col] = 0
    
print(ohe_existing_customers.columns)
print(set(ohe_existing_customers.columns) - set(ohe_potential_customers.columns))
print(len(ohe_existing_customers.columns))

Index(['age', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'Male', 'Asian-Pac-Islander', 'Black', 'Other',
       'White', 'Armed-Forces', 'Craft-repair', 'Exec-managerial',
       'Farming-fishing', 'Handlers-cleaners', 'Machine-op-inspct',
       'Other-service', 'Priv-house-serv', 'Prof-specialty', 'Protective-serv',
       'Sales', 'Tech-support', 'Transport-moving', 'Married-AF-spouse',
       'Married-civ-spouse', 'Married-spouse-absent', 'Never-married',
       'Separated', 'Widowed', 'Local-gov', 'Never-worked', 'Private',
       'Self-emp-inc', 'Self-emp-not-inc', 'State-gov', 'Without-pay',
       'Canada', 'China', 'Columbia', 'Cuba', 'Dominican-Republic', 'Ecuador',
       'El-Salvador', 'England', 'France', 'Germany', 'Greece', 'Guatemala',
       'Haiti', 'Holand-Netherlands', 'Honduras', 'Hong', 'Hungary', 'India',
       'Iran', 'Ireland', 'Italy', 'Jamaica', 'Japan', 'Laos', 'Mexico',
       'Nicaragua', 'Outlying-US(Guam-USVI-etc)', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto-Rico', 'Scotland', 'South', 'Taiwan',
       'Thailand', 'Trinadad&Tobago', 'United-States', 'Vietnam', 'Yugoslavia',
       '>50K', 'Not-in-family', 'Other-relative', 'Own-child', 'Unmarried',
       'Wife'],
      dtype='object')
{'>50K'}
82

In [14]:
from sklearn.preprocessing import StandardScaler

def rescale(df, columns, scaler):
    encoding = scaler.fit_transform(df[numerical_cols])
    df = df.drop(columns, axis=1)
    return pd.concat([df, pd.DataFrame(encoding, columns=columns)], axis=1)

scaler = StandardScaler()
encoded_data = rescale(ohe_existing_customers, numerical_cols, scaler=scaler)
encoded_potential = rescale(ohe_potential_customers, numerical_cols, scaler=scaler)
encoded_data.head()

,Male,Asian-Pac-Islander,Black,Other,White,Armed-Forces,Craft-repair,Exec-managerial,Farming-fishing,Handlers-cleaners,...,Not-in-family,Other-relative,Own-child,Unmarried,Wife,capital-gain,capital-loss,hours-per-week,education-num,age
0,1,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0.148453,-0.21666,-0.035429,1.134739,0.030671
1,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,-0.145920,-0.21666,-2.222153,1.134739,0.837109
2,1,0,0,0,1,0,0,0,0,1,...,1,0,0,0,0,-0.145920,-0.21666,-0.035429,-0.420060,-0.042642
3,1,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,-0.145920,-0.21666,-0.035429,-1.197459,1.057047
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,-0.145920,-0.21666,-0.035429,1.134739,-0.775768

### Training

In [15]:
from sklearn.model_selection import train_test_split

label = '>50K'
y = encoded_data[label]
X = encoded_data.drop(label, axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_real = encoded_potential

In [85]:
from sklearn.metrics import confusion_matrix, make_scorer, recall_score

def profit(y_test, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
    return (tp * 0.1 * 980) - (fp * 0.05 * 310) - ((tp + fp) * 10)

def max_profit(y_test, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
    return ((tp + fn) * 0.1 * 970) 

def lost_value(y_test, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
    return (fn * 0.1 * 970)

def predicted_profit(total_pos, tp, fp):
    return (total_pos * tp / (tp + fp) * 0.1 * 980) - (total_pos * fp / (tp + fp) * 0.05 * 310) - (total_pos * 10)

def custom_score(y_test, y_pred):
    return profit(y_test, y_pred) / max_profit(y_test, y_pred)

def pos_recall(y_test, y_pred):
    recall_score(y_test, y_pred, pos_label=1)

profit_score = make_scorer(custom_score)
pos_recall_score = make_scorer(pos_recall)

In [94]:
from sklearn.model_selection import KFold, cross_validate
from sklearn.metrics import classification_report, confusion_matrix
import numpy as np

scoring = {'accuracy': 'accuracy',
           'recall': 'recall',
           'precision': 'precision',
           'f1': 'f1',
           'roc_auc': 'roc_auc',
           'profit': profit_score}

def evaluate_model(classifier, name):
    scores = cross_validate(classifier, X_train, y_train, cv=5, scoring=scoring, return_estimator=True)
    
    print(f"""{name}
==========================================
Accuracy: {np.mean(scores["test_accuracy"]):.3f} (+-{np.std(scores["test_accuracy"]):.3f})
Precision: {np.mean(scores["test_precision"]):.3f} (+-{np.std(scores["test_precision"]):.3f})
Recall: {np.mean(scores["test_recall"]):.3f} (+-{np.std(scores["test_recall"]):.3f})
F1 Score: {np.mean(scores["test_f1"]):.3f} (+-{np.std(scores["test_f1"]):.3f})
ROC AUC: {np.mean(scores["test_roc_auc"]):.3f} (+-{np.std(scores["test_roc_auc"]):.3f})
Profit Score: {np.mean(scores["test_profit"]):.3f} (+-{np.std(scores["test_profit"]):.3f})

          """)
    return scores['estimator']
    
    
def test_model(classifier, name):
    y_test_pred = classifier.predict(X_test)
    y_real_pred = classifier.predict(X_real)
    conf_matrix = confusion_matrix(y_test, y_test_pred)
    tn, fp, fn, tp = conf_matrix.ravel()
    
    print(f"""{name}
==========================================
Profit on test set: {profit(y_test, y_test_pred):.3f}
Lost value on test set: {lost_value(y_test, y_test_pred):.3f}
Custom score on test set: {custom_score(y_test, y_test_pred):.3f}
Predicted profit on potential customers: {predicted_profit(np.count_nonzero(y_real_pred == 1), tp, fp):.3f}
Confusion Matrix: 
{conf_matrix}
Classification Report:
{classification_report(y_test, y_test_pred)}

          """)

In [87]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

models = {
    'KNN': KNeighborsClassifier(),
    'Linear SVC': LinearSVC(),
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
}

fitted_models = {key: None for key in models.keys()}

for name, model in models.items():
    evaluate_model(model, name)

KNN
==========================================
Accuracy: 0.840 (+-0.004)
Precision: 0.687 (+-0.011)
Recall: 0.612 (+-0.011)
F1 Score: 0.647 (+-0.008)
ROC AUC: 0.864 (+-0.006)
Profit Score: 0.482 (+-0.010)


Linear SVC
==========================================
Accuracy: 0.852 (+-0.003)
Precision: 0.740 (+-0.014)
Recall: 0.589 (+-0.005)
F1 Score: 0.656 (+-0.004)
ROC AUC: 0.905 (+-0.004)
Profit Score: 0.480 (+-0.003)


Logistic Regression
==========================================
Accuracy: 0.851 (+-0.004)
Precision: 0.733 (+-0.015)
Recall: 0.598 (+-0.007)
F1 Score: 0.659 (+-0.007)
ROC AUC: 0.906 (+-0.004)
Profit Score: 0.486 (+-0.007)


Decision Tree
==========================================
Accuracy: 0.818 (+-0.004)
Precision: 0.625 (+-0.010)
Recall: 0.608 (+-0.008)
F1 Score: 0.616 (+-0.006)
ROC AUC: 0.764 (+-0.004)
Profit Score: 0.455 (+-0.007)


Random Forest
==========================================
Accuracy: 0.847 (+-0.005)
Precision: 0.706 (+-0.013)
Recall: 0.624 (+-0.009)
F1 Score: 0.662 (+-0.009)
ROC AUC: 0.894 (+-0.005)
Profit Score: 0.498 (+-0.010)

In [95]:
for name, model in models.items():
    test_model(model.fit(X_train, y_train), name)

KNN
==========================================
Profit on test set: 76645.000
Lost value on test set: 57133.000
Custom score on test set: 0.495
Predicted profit on potential customers: 178178.798
Confusion Matrix:
[[4452  466]
 [ 589 1006]]
Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.91      0.89      4918
           1       0.68      0.63      0.66      1595

    accuracy                           0.84      6513
   macro avg       0.78      0.77      0.78      6513
weighted avg       0.83      0.84      0.84      6513



Linear SVC
==========================================
Profit on test set: 74422.500
Lost value on test set: 62759.000
Custom score on test set: 0.481
Predicted profit on potential customers: 70532.623
Confusion Matrix:
[[4565  353]
 [ 647  948]]
Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.93      0.90      4918
           1       0.73      0.59      0.65      1595

    accuracy                           0.85      6513
   macro avg       0.80      0.76      0.78      6513
weighted avg       0.84      0.85      0.84      6513



Logistic Regression
==========================================
Profit on test set: 74494.000
Lost value on test set: 62371.000
Custom score on test set: 0.481
Predicted profit on potential customers: 100306.511
Confusion Matrix:
[[4554  364]
 [ 643  952]]
Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.93      0.90      4918
           1       0.72      0.60      0.65      1595

    accuracy                           0.85      6513
   macro avg       0.80      0.76      0.78      6513
weighted avg       0.84      0.85      0.84      6513



Decision Tree
==========================================
Profit on test set: 71631.000
Lost value on test set: 59849.000
Custom score on test set: 0.463
Predicted profit on potential customers: 164742.021
Confusion Matrix:
[[4352  566]
 [ 617  978]]
Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.88      0.88      4918
           1       0.63      0.61      0.62      1595

    accuracy                           0.82      6513
   macro avg       0.75      0.75      0.75      6513
weighted avg       0.82      0.82      0.82      6513



Random Forest
==========================================
Profit on test set: 78951.500
Lost value on test set: 57036.000
Custom score on test set: 0.510
Predicted profit on potential customers: 156421.947
Confusion Matrix:
[[4539  379]
 [ 588 1007]]
Classification Report:
              precision    recall  f1-score   support

           0       0.89      0.92      0.90      4918
           1       0.73      0.63      0.68      1595

    accuracy                           0.85      6513
   macro avg       0.81      0.78      0.79      6513
weighted avg       0.85      0.85      0.85      6513

In [91]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [100, 400, 700, 1000],
    'max_depth': [5, 10, None],
    'min_samples_split': [2, 5, 10],
    'criterion': ['gini', 'entropy'],
}

model = RandomForestClassifier(random_state=0)

grid_search = GridSearchCV(model, param_grid, cv=5, scoring=profit_score, n_jobs=-1, verbose=1)
grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 72 candidates, totalling 360 fits

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=0), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 10, None],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [100, 400, 700, 1000]},
             scoring=make_scorer(custom_score), verbose=1)

In [96]:
print("Best parameters:", grid_search.best_params_)
print("Best score:", grid_search.best_score_)

best_rf = RandomForestClassifier(**grid_search.best_params_).fit(X_train, y_train)

evaluate_model(best_rf, "Best Random Forest")
test_model(best_rf, "Best Random Forest")

Best parameters: {'criterion': 'gini', 'max_depth': None, 'min_samples_split': 10, 'n_estimators': 400}
Best score: 0.5178288649888984
Best Random Forest
==========================================
Accuracy: 0.862 (+-0.003)
Precision: 0.753 (+-0.014)
Recall: 0.630 (+-0.008)
F1 Score: 0.686 (+-0.006)
ROC AUC: 0.914 (+-0.004)
Profit Score: 0.517 (+-0.006)


Best Random Forest
==========================================
Profit on test set: 80138.500
Lost value on test set: 57133.000
Custom score on test set: 0.518
Predicted profit on potential customers: 157755.789
Confusion Matrix:
[[4589  329]
 [ 589 1006]]
Classification Report:
              precision    recall  f1-score   support

           0       0.89      0.93      0.91      4918
           1       0.75      0.63      0.69      1595

    accuracy                           0.86      6513
   macro avg       0.82      0.78      0.80      6513
weighted avg       0.85      0.86      0.85      6513

In [89]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_neighbors': list(range(5, 61, 2)),
}

model = KNeighborsClassifier()

grid_search_knn = GridSearchCV(model, param_grid, cv=5, n_jobs=3, scoring=profit_score, verbose=1)
grid_search_knn.fit(X_train, y_train)

Fitting 5 folds for each of 28 candidates, totalling 140 fits

GridSearchCV(cv=5, estimator=KNeighborsClassifier(), n_jobs=3,
             param_grid={'n_neighbors': [5, 7, 9, 11, 13, 15, 17, 19, 21, 23,
                                         25, 27, 29, 31, 33, 35, 37, 39, 41, 43,
                                         45, 47, 49, 51, 53, 55, 57, 59]},
             scoring=make_scorer(custom_score), verbose=1)

In [97]:
print("Best parameters:", grid_search_knn.best_params_)
print("Best score:", grid_search_knn.best_score_)

best_knn = KNeighborsClassifier(**grid_search_knn.best_params_).fit(X_train, y_train)

evaluate_model(best_knn, "Best KNN")
test_model(best_knn, "Best KNN")

Best parameters: {'n_neighbors': 29}
Best score: 0.5007702485287199
Best KNN
==========================================
Accuracy: 0.851 (+-0.005)
Precision: 0.720 (+-0.016)
Recall: 0.622 (+-0.005)
F1 Score: 0.667 (+-0.007)
ROC AUC: 0.900 (+-0.003)
Profit Score: 0.501 (+-0.006)


Best KNN
==========================================
Profit on test set: 76952.000
Lost value on test set: 58200.000
Custom score on test set: 0.497
Predicted profit on potential customers: 183354.092
Confusion Matrix:
[[4502  416]
 [ 600  995]]
Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.92      0.90      4918
           1       0.71      0.62      0.66      1595

    accuracy                           0.84      6513
   macro avg       0.79      0.77      0.78      6513
weighted avg       0.84      0.84      0.84      6513

In [ ]:
y_real_pred = classifier.predict(X_real)